/* Bottom Navigation */
.bottom_nav {
    grid-area: bottom_nav;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 64px;
    box-shadow: 0 -2px 6px #00000012;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

.nav_item {
    color: #ADADAD;
    cursor: pointer;
    height: 60px;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav_item:active {
    background-color: #eeeeeec1;
    border-radius: 50%;
}

.active {
    color: #0074A6;
    font-variation-settings: 'FILL' 1;
}

.bottom_nav div p {
    margin: 0;
    font-size: 10px;
}


.special_product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
    height: 220px;
    background-color: beige;
}

.special_product i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    color: white;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.189);
}

.section_text {
    color: #707070;
    font-weight: bold;
    margin: 13px 0 13px 20px;
    font-size: 12px;
}

.section {
    overflow-x: scroll;
    display: flex;
    scrollbar-width: none;
}

/* ProductLayout */
.product_container {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-inline: 2px;
    cursor: pointer;
}

.product_container .row,
.product_container .p_image {
    width: 160px;
    align-self: center;
}

.p_image {
    height: 140px;
    background-color: #e8e8e8;
    border-radius: 12px;
    margin-inline: auto;
}

.row {
    display: flex;
    align-items: center;
}

.first p {
    align-items: start;
    height: 28px;
    overflow: hidden;
    margin-bottom: 5px;
    font-weight: normal;
}

.rating {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.rating p {
    margin: 0 5px;
    font-size: 12px;
}

.price_format {
    color: #0074A6;
    font-weight: bold;
    margin: 0;
    font-size: 12px;
}

/* App bar */
.app_bar {
    z-index: 2;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: #0074A6;
    padding: 16px 20px;
    color: white;
}

.app_bar p {
    margin: 0;
    font-size: 15px;
}


/* Icon style */
i.star {
    color: rgb(255, 238, 0);
    font-size: 15px;

}